.add-new {
  text-align: right;
}
.spin-loading {
  justify-content: center;
  width: 100%;
  min-height: 300px;
  align-items: center;
  display: flex;
}

.table-household
  ul.ant-pagination.ant-table-pagination.ant-table-pagination-right {
  position: absolute;
  right: 0;
  bottom: -4px;
}
