.ant-modal-body .ant-row .ant-col {
  padding: 0px 8px;
}
.ant-modal {
  /* width: 1000px !important; */
}

.spin-loading {
  justify-content: center;
  width: 100%;
  min-height: 300px;
  align-items: center;
  display: flex;
}

.table-user ul.ant-pagination.ant-table-pagination.ant-table-pagination-right {
  position: absolute;
  right: 0;
  bottom: -4px;
}
