.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(https://thanhxuan.hanoi.gov.vn/documents/20182/1949538/background.gif/59a5d533-0735-43a5-a2ea-451ba1183b92?t=1576351226018);
}
