/* ul.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light {
  background: #001529;
  color: #fff;
} */
.content-home-page .header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}
.content-home-page .header .header-left {
  display: flex;
  padding-top: 18px;
  gap: 24px;
}
.item-left {
  text-align: center;
  border-radius: 4px;
  background-color: #eeeeee;
  padding: 10px 6px 8px;
}

.item .item-content.item-right {
  padding-left: 15px;
}

.item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.btn-login {
  border-radius: 6px;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 50%);
  text-align: center;
  width: 100px;
  background: #085d90;
  color: white;
  margin-top: 24px;
}

img .item-image {
  object-fit: contain;
  width: 100%;
}
.slick-track {
  background-color: #ccc;
}
.ant-space {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.ant-space-item .header-left {
  display: flex;
  align-items: center;
}
.ant-layout-content {
  background-image: url(https://thanhxuan.hanoi.gov.vn/documents/20182/1949538/background.gif/59a5d533-0735-43a5-a2ea-451ba1183b92?t=1576351226018);
  padding: 10px 120px 10px 120px;
}
.ant-menu-horizontal {
  background-color: #085d90;
  color: wheat;
}
.ant-menu-item-selected {
  color: white !important;
  font-weight: 600;
  background: linear-gradient(to bottom, #0593d9 1%, #0c78b2 100%);
}
.ant-menu-item-active {
  color: white !important;
}
.item-selected::after {
  border-bottom: none;
}
.content-home-page .site-layout-background {
  padding: 24px;
  min-height: 566px;
  background-color: white;
}
.site-layout-background .item .item-content a {
  color: black;
}
.calender-date {
  width: 92px;
  height: 77px;
}
.month {
  font-weight: 600;
}
.date {
  color: #085d90;
  font-size: 24px;
  font-weight: 600;
}
