/* ul.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light {
  background: #001529;
  color: #fff;
} */

.item-left {
  text-align: center;
  border-radius: 4px;
  background-color: #eeeeee;
  padding: 10px 6px 8px;
}

.item .item-content.item-right {
  padding-left: 15px;
}

.item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
