.content-home-page .header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}
.content-home-page .header .header-left {
  display: flex;
  padding-top: 18px;
  gap: 24px;
}
