.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #aac2f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .ant-layout-header {
  background-color: #aac2f1 !important;
} */
.site-layout .site-layout-background {
  background: #fff;
}
.ant-layout-sider-children {
  background-color: #001529;
}
#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.site-layout .site-layout-title {
  margin-left: 15px;
  margin-left: 15px;
  font-size: 17px;
  font-weight: 700;
}
.ant-table-thead tr th {
  background-color: #4089f7;
  color: white;
}
.search-header-table {
  background-color: white;
}
