.add-new {
  text-align: right;
}
.form-updata-create .ant-form-item-control-input {
  border: 1px solid black !important;
}
.search-row .ant-col {
  padding: 5px 8px;
}
.search-row .ant-col input {
  border-radius: 5px;
  border: 1px solid black;
}
.search-row .ant-col .ant-select .ant-select-selector {
  border-radius: 5px;
  border: 1px solid black;
}
.btn-search {
  padding: 5px 8px;
}
.actions-row {
  text-align: right;
}

.actions-row button {
  margin: 0px 10px;
}
